*{
	margin: 0;
	padding: 0;
	}

header,footer{
	height: 50px;
	background-color: #2C3742;
	box-sizing: border-box;
}
#header-logo{
	width:100px;
	height: auto;
}

.form-control{
	margin-top: 1rem;
	margin-bottom: 1rem;
}
footer{
	position: fixed;
	bottom: 0px;
	left: 0;
	right: 0;
}
.login_container{
	box-sizing: border-box;
	width:30%;
	display: block;
	margin: 0 auto;
}
.sidenav{
	width:auto;
	min-height: 100%;
	background-color: #f7f7f7;
	display: inline-block;
}
.sidenav ul{
	margin-bottom: 0;
}
#usericon{
	width: 40px;
	height: 48px;
	margin-left: 5px;
}
.userlogo{
	background-color: white;
}
.glyphicon {
    font-size: 21px;
    margin-left: 2px;
    color: #69737A;
}
.sidenav-icons{
	padding: .9rem;
	border-top: 1px solid #FFF;
	border-bottom: 1px solid #E6E6E6;
}
.sidenav-hover-employees{
	
	position: absolute;
	top: 143px;
	left: 40px;
	
}
.sidenav-hover-vacation{
	
	position: absolute;
	top: 190px;
	left: 40px;
	
}
.sidenav-hover-projects{
	
	position: absolute;
	top: 237px;
	left: 40px;
	
}
.sidenav-hover-address{
	
	position: absolute;
	top: 284px;
	left: 40px;
	
}
.sidenav-hover-training{
	
	position: absolute;
	top: 331px;
	left: 40px;
	
}
.sidenav-hover-daily-status{
	position: absolute;
	top: 378px;
	left: 40px;
	
}
.sidenav-more{
	display: inline-block;
	width:200px;
	height: 220px;
	background-color: white;
	display: none;
	box-shadow: 1px 1px 2px 0 rgba(0,0,0,.2);
	border-left: 1px solid #bfbfbf;
    border-top: 1px solid #D8D4D4;
	
}
.sidenav-more ul li{
	list-style: none;
	padding: 1rem;
	
	font-size: 12px;
}
.sidenav-more ul li a{
	text-decoration: none;
	color: #69737A;
	cursor: pointer; 
}
.menu-parent-item{
	display: inline-block;
	width: 100%;
	height: 40px;
	background-color:#f5f5f5;
	border-bottom: 1px solid #D8D4D4;
	padding: 1rem;
	font-size: 13px;
}
.arrow-right{
	background-color: #D7DAE2;
}
a {
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
button {
    color: #fff;
}

.training-list {
    width: 90%;
    padding: 20px 0;
    padding-left:10px;
    box-sizing: border-box;
}

.training-head {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 0;
}

.training-head h3 {
    display: inline-table;
    padding:10px;
}

.training-head span {
    float: right;
}
.training-nav{
	width:40%;
	box-sizing: border-box;
	display: inline-block;
}
.training-nav li {
    display: inline-block;
}

.training-nav button {
    border-top-left-radius: 17%;
    border-top-right-radius: 17%;
    background-color: #0066A6;
    outline: none;
    padding: 6px 8px 3px 7px;
    border: 1px solid;
}
.training-nav button:hover{
	background-color: #3CB3EE;
}
.train-data-section{
	border:1px solid #3CB3EE;
    border-top: 5px solid #3CB3EE;
    margin-top: 1px;
}